git *{
   margin: 0;
   padding: 0; 

}
body{
    padding: 0 90px;
} init
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
    font: 20px Geneva;  
}
ul{
   display: flex;
   gap:60px;
   list-style-type: none;
}
a{
    text-decoration: none;
    color: black;

}
em{
    color: red;
}

#banner{
    display: flex;
    justify-content: space-between;
    margin:20px 0px ;
    padding: 20px 0px;
    font: 20px Geneva;
    
}
#banner-text{
    margin: 20px;
}
#banner-image{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        align-items: center;
        margin-right: 50px;
        position: relative;
        background:  rgb(250, 41 , 58);
}
img{
    position:absolute;
    left: 60px;
    top: 60px;
    
}
.but{
    padding:10px;
    display: block;
    background: rgb(250, 41 , 58);
}
span{
    display: flex;
    justify-content: space-between;
    color: blue;
    
}
#but-w1{
    background: white;
}
#but-w2{
   background: white
}
.about-me{
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    font: 20px Geneva;
}
#about-me{
 text-align:left;   
display: flex;
gap: 20px;
justify-content: space-between;
background: rgb(250, 41 , 58);
}
#div{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    
    text-align: start;
    gap: 10px;
    
    
}
.div1{
    
    
    padding: 20px;

}
#skills{
    text-align: center;
    font-size: large;
    font: 20px Geneva;
}
.div{
    padding: 20px;
    gap: 10px;
}
#one{
    background: rgb(250, 41 , 58);
}

footer{
 text-align: center;
 font-size: large;
 font: 20px Geneva;
background:rgb(250, 41 , 58);
padding: 20px
    
}